<p id="notice"><%= notice %></p>

<p>
  <h1>
  <%= @job.title %></h1>
</p>
<p>
<div><h4><%= @job.company %>&nbsp;  <%= @job.city %>&nbsp;  <%= @job.state %></h4></div>

</p>
<p>
    <h3>Job Description</h3>
  <%= @job.body %>
</p>